<!-- Main jumbotron for a primary marketing message or call to action -->
<head>
<link rel="stylesheet" type="text/css" href="<%= url('/main.css') %>" >
</head>
<body >
  <div class="jumbotron ">
    <div class="container bounceAnimation ">
      <h1 class="display-3">Welcome to your Dojo</h1>
      <p>The ultimate online martial arts community hub.</p>
    
    </div>
  </div>

  <div class="container">
    <!-- Example row of columns -->
    <div class="row">

      <div class="col-md-4 bounceAnimation">
        <h2>Share techniques</h2>
        <p>Upload videos to share what you've done!</p>

      </div>
      <div class="col-md-4 bounceAnimation">
        <h2>Join a Community</h2>
        <p> STUFF </p>
      </div>
      <div class="col-md-4 bounceAnimation">
       <h2>Improve your game.</h2>
        <p> Follow the uploaded techniques to improve your skill. </p>
      </div>
    </div>

    <hr>

  </div> <!-- /container -->
</body>